body {
    background-color: #74d9eb;
    font-family: 'Arial', sans-serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #db4856;
    color: rgb(234, 229, 233);
}

.btn-primary {
    background-color: #128610;
    border: none;
}

.btn-primary:hover {
    background-color: #3c88db;
}
